<strong>Olá, {{ deliveryer.name }}</strong>
<p>Uma nova encomenda foi registrada para você:</p>
<p>Você já pode recolher o produto para entrega</p>
<p>
    <strong>Produto: </strong> {{ product.name }} <br>
</p>
<p>
    <strong>Endereço: </strong><br>
    <strong>Nome: </strong> {{ recipient.name }}<br>
    <strong>Rua: </strong> {{ recipient.address }}<br>
    <strong>Número: </strong> {{ recipient.address_number }}<br>
    <strong>Complemento: </strong> {{ recipient.complement }}<br>
    <strong>Estado: </strong> {{ recipient.state }}<br>
    <strong>Cidade: </strong> {{ recipient.city }}<br>
    <strong>CEP: </strong> {{ recipient.zip_code }}<br>
</p>

